body{
    font-family: 'Serif', 	Times New Roman Georgia;
    background-color: 	#008080;
}

/* navbar css starts here  */
.bg-light{
    background-color: #663399!important;
}

.navbar-brand{
    font-family: 'Monospace', Courier New Lucida Console;
    font-size: 1.5rem;
    color: #90EE90!important;
}

.nav-link{
    color: #F5DEB3!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: 	#FFFFFF;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
    background-color: 		#FFFFFF
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #F5DEB3!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}
